<div class="queryfilterglobal">
    <form id="edit_form" method="post">
        {% for key, data in metas %}
            {% if data|length > 0 %}
                <div class="queryfilter_titre"><i class="fas fa-caret-right"></i>&nbsp;Table {{ key }}</div><br />
                <div class="queryfilter accordeon_{{ key }}" id="filter_div_{{ key }}">
                    <ul>
                        {% for meta in data %}
                            <li>
                                <input type="hidden" name="field[{{ meta.id }}]" value="{{ meta.field_name }}"/>
                                {% if meta.type == 'txt' %}
                                    {% include 'one_filter_txt.twig' with {'meta':meta, 'value':values[meta.id]} %}
                                {% endif %}
                                {% if meta.type == 'int' or meta.type == 'float' %}
                                    {% include 'one_filter_num.twig' with {'meta':meta, 'value':values[meta.id]} %}
                                {% endif %}
                                {% if meta.type == 'date' %}
                                    {% include 'one_filter_date.twig' with {'meta':meta, 'value':values[meta.id]} %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="button_validate">
            <i class="fas fa-cogs"></i> Set filters
        </button>
    </form>
    <form method="post">
        <button type="submit" class="button_clear">
            <i class="fas fa-sync"></i> Reset all filters
        </button>
    </form>
</div>



