<span class="label">{{ meta.label }}</span> contains&nbsp;:
<br />
<input class="input_full" autocomplete="off" id="{{meta.id}}_0" type="text" name="value[{{meta.id}}]" value="{{value}}"/><i class="fas fa-times-circle position_inside icon_cliquable_backspace" onclick="javascript:clear_elt('{{meta.id}}_0');"></i>
