<tr>
    <td>
        <div class="saveButton">
            <img id="b_{{ data[0]["record_id"] }}_add" class="action_icon" width="30" height="30"
                 onclick="add_to_basket({{ data[0]["record_id"] }})" src="img/save-solid.svg"
                 {% if data[0]["in_basket"] %}style='display:none'{% endif %}/>
            <img id="b_{{ data[0]["record_id"] }}_rem" class="action_icon" width="30" height="30"
                 onclick="javascript:rem_from_basket({{ data[0]["record_id"] }})" src="img/times-square-regular.svg"
                 {% if not data[0]["in_basket"] %}style='display:none'{% endif %}/>
        </div>
    </td>
    {% for met in metas["record"] %}
        <td>
            {% for line in data %}
                {{ data[0][met["field_name"]] }}
            {% endfor %}
        </td>
    {% endfor %}

    {% for line in data %}
        <td>
            {{ line["sequence_order"] }}
        </td>
    {% endfor %}

    {% for met in metas["production"] %}
        <td>
            {% for line in data %}
                {{ line[met["field_name"]] }}
            {% endfor %}
        </td>
    {% endfor %}

    {% for met in metas["speaker"] %}
        <td>
            {% for line in data %}
                {{ line[met["field_name"]] }}<br/>
            {% endfor %}
        </td>
    {% endfor %}
    <td>
        <audio class="iru-tiny-player" controls preload="none">
            <source src="./files/{{ data[0]["filename"] }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
    </td>
</tr>