<div class="loadertable">
    <table class="table_default display" id="tableapp">
            <thead>
            <tr>
                <th></th>
                {% for data in metas["record"] %}
                    <th><span class="header">{{ data["label"] }}</span></th>
                {% endfor %}
                {% for data in metas["production"] %}
                    <th><span class="header">{{ data["label"] }}</span></th>
                {% endfor %}
                <th><span class="header">1</span></th>
                {% for data in metas["speaker"] %}
                    <th><span class="header">{{ data["label"] }}</span></th>
                {% endfor %}
                <th>Audio</th>
            </tr>
            </thead>
            <tbody>
            {% for data in results %}
                    {% include 'one_record.twig' with {'data': data, 'metas':metas} %}
            {% endfor %}
            </tbody>
    </table>
</div>
<script>
    /* Pluguin Tableau */
    $(document).ready( function () {
        $('#tableapp').DataTable( {
            paging: false, // Pagination désactivé
            responsive: true,
        } );
    } );
</script>


{#<div class="rTable">#}
{#    <div class="rTableHeading">#}
{#        <div class="rTableHead">&nbsp;</div>#}
{#        {% for data in metas["record"] %}#}
{#            <div class="rTableHead"><span class="header">{{ data["label"] }}</span></div>#}
{#        {% endfor %}#}
{#        <div class="rTableHead">&nbsp;</div>#}
{#        {% for data in metas["production"] %}#}
{#            <div class="rTableHead"><span class="header">{{ data["label"] }}</span></div>#}
{#        {% endfor %}#}
{#        {% for data in metas["speaker"] %}#}
{#            <div class="rTableHead"><span class="header">{{ data["label"] }}</span></div>#}
{#        {% endfor %}#}
{#        <div class="rTableHead">&nbsp;</div>#}
{#    </div>#}
{#    #}{# {{ dump(results) }} #}
{#    {% for data in results %}#}
{#        <div class="rTableRow {% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}"#}
{#             id="record{{ data["record_id"] }}">#}
{#            {% include 'one_record.twig' with {'data': data, 'metas':metas} %}#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}